{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br/>
<br/>
{% endif %}

<h1>Share an entry.<h1/>

    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">

        {% csrf_token %}
        <h1 style="font-size:18px">Title:</h1>
        <input class="form-control" type="text" name="title" required/>
        <br/>
        <h1 style="font-size:18px">Body:</h1>
        <input class="form-control"  type="textbox" name="body" required/>
        <br/>
        <h1 style="font-size:18px">URL:</h1>
        <input class="form-control" type="text" name="url" required/>
        <br/>
        <h1 style="font-size:18px">Image:</h1>
        <input class="form-control" type="file" name="icon" required accept="image/png, image/jpeg image/gif"/>
        <br/>
        <br/>

        <input class="btn btn-primary" type="submit" value="Add entry" />
    </form>

{% endblock %}