{% extends 'base.html' %}

{% block content %}
<br/>

<h1 align="center">Multi-User Journal</h1>
{% for entry in entries.all %}
<div class="row pt-3" align="center">
    <div class="col-2" onclick="window.location='{% url 'detail' entry.id %}';" style="cursor: pointer">
        <img src="{{ entry.icon.url }}" class="img-fluid" width="200" height="auto" />
    </div>
    <div class="col-6" onclick="window.location='{% url 'detail' entry.id %}';" style="cursor: pointer">
        <h1>{{ entry.title }}</h1>
        <p> {{ entry.summary }}</p>
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote{{ entry.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ entry.votes_total }}</button></a>
    </div>
</div>

<form id="upvote{{ entry.id }}" method="POST" action="{% url 'upvote' entry.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>
{% endfor %}

{% endblock %}